@font-face {
    font-family: 'valorant font';
    src: url('/web/font/Valorant\ Font.ttf');
}
body{
    background-color: black;
    background-image: url(/web/img/ValoFondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: hidden;
}
p{
    color: rgba(12,24,36,255);
    font-family: "valorant font"
}
.titulo{
    font-size: 70px;
    padding: 10px;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 0px;
    background-color: rgba(255,81,82,1);
    width: 400px;
    position: relative;
    top: -900px;
    left: 1070px;
    border-radius: 8px;
}
.texto{
    font-size: 20px;
    text-align: center;
    background-color: rgba(255,81,82,0.9);
    width: 170px;
    border-radius: 5px;
}