@font-face {
    font-family: 'valorant font';
    src: url('/web/font/Valorant\ Font.ttf');
}
@font-face{
    font-family: 'ff mark';
    src: url('/web/font/fontFont_FF.Mark.Pro.otf');
}
body, html {
    height: 100%;
}
  
.bg{
    /* The image used */
    background-image: url("/web/img/FondoChambel.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg2{
    /* The image used */
    background-image: url("/web/img/ValoFondo.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: start center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg3{
    /* The image used */
    background-image: url("/web/img/fondosinnada.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: start center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p{
    font-family: "ff mark";
}
#titulo{
    font-family: "valorant font";
}
a{
    font-family: "ff mark";
}
h6{
    font-family: "ff mark";
}
h5{
    font-family: "ff mark";
}
h3{
    font-family: "ff mark";
}
label{
    font-family: "ff mark";
};
button{
    font-family: "ff mark";
};
div.sticky {
    position: -webkit-sticky;
    position: sticky;
}
iframe{
    border-radius: 5px;
}
.avatar{
    width: 50px;
    height: 50px;
}
.icono{
    width: 30px;
    height: 30px;
}
.fotoCarousel{
    display: block;
    max-width: 100%;
    height: auto;
}