@font-face {
    font-family: 'valorant font';
    src: url('/web/font/Valorant\ Font.ttf');
}
@font-face{
    font-family: 'ff mark';
    src: url('/web/font/fontFont_FF.Mark.Pro.otf');
}
body{
    background-color: black;
    background-image: url(/web/img/ValoFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center start;
    background-attachment: fixed;
}
p{
    font-family: "ff mark";
}
.p-inicio{
    size: 80%;
    position: fixed;
    bottom: 0;
    left: 1;
    right: 0;
}
#titulo{
    font-family: "valorant font";
}
a{
    font-family: "ff mark";
}
h5{
    font-family: "ff mark";
}
h3{
    font-family: "ff mark";
}
label{
    font-family: "ff mark";
};
button{
    font-family: "ff mark";
};