@font-face {
    font-family: 'valorant font';
    src: url('/web/font/Valorant\ Font.ttf');
}
@font-face{
    font-family: 'ff mark';
    src: url('/web/font/fontFont_FF.Mark.Pro.otf');
}
body{
    background-color: black;
    background-image: url(/web/img/fondosinnada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center start;
    background-attachment: fixed;
}
#titulo{
    font-family: "valorant font";
}
a{
    font-family: "ff mark";
}
h5{
    font-family: "ff mark";
}
h3{
    font-family: "ff mark";
}
label{
    font-family: "ff mark";
};
button{
    font-family: "ff mark";
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}

.card {
    max-width: 250px;
    margin: 150px auto 0;
    background-color: #404040;
    box-shadow: 0 10px 90px #ff0000a7;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
}

.card .card-header {
    position: relative;
    height: 48px;
}
/*foto de perfil */
.card .card-header .profile-img {
    width: 130px;
    height: 130px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid rgba(235, 74, 69, 0.668);
    box-shadow: 0 0 20px #45444433;
}

.card .card-header .profile-img:hover {
    width: 180px;
    height: 180px;
    border: 8px solid rgb(235, 75, 69);
}
.card .card-body {
    padding: 10px 40px;
}
/* nombre de usuario*/
.card .card-body .name {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(235, 74, 69, 0.668);
}

.card .card-body .name:hover {
    margin-top: 30px;
    font-size: 24px;
    color: rgba(235, 74, 69, 0.668);
}
/*mail*/
.card .card-body .mail {
    font-size: 14px;
    color: #ffffffca;
}

.card .card-body .mail:hover {
    font-size: 16px;
    color: #ffffff;
}
/*nickname*/
.card .card-body .job {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.card .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
/*iconos sociales*/
.card .social-links .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(235, 74, 69, 0.668);
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
    text-decoration: none;
    margin: 0 13px 30px 0;
}

.card .social-links .social-icon:last-child {
    margin-right: 0;
}

.card .social-links .social-icon:hover {
    background-color: rgba(235, 74, 69, 0.668);
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.card .card-footer {
    background-color: rgba(235, 74, 69, 0.668);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px 0 20px 0;
}

.card .card-footer .count {
    font-size: 14px;
}

@media screen and (max-width: 575px) {
    .card {
        width: 96%;
    }

    .card .card-body {
        padding: 10px 20px;
    }
}
